<h1 class="index"><%= @artist.name %></h1>
<ol>
<h2> Beats You Own </h2>
<% @artist.contracts.each do |contract| %>
   <ul class="list-group">
    Beat : <li class="list-group-item"><%= contract.beat.name %></li>
   
    Producer: <li class="list-group-item"><%= contract.beat.producer.name %></li>
    
    Contract: <li class="list-group-item"><%= link_to contract.beat.name, contract %> </li>
    
<% end %>
</ul>

<h4> <%= link_to "change info", edit_artist_path %>


